<div class="container-fluid">
    <div class="card mb-2">
      <div class="card-body">
          <h3>Historial de Diagnósticos</h3>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombres</th>
                            <th>Edad</th>
                            <th>Género</th>
                            <th>Resultado Más Preciso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let diagnostico of Diagnosticos; let i=index">
                            <td>{{ diagnostico.nombres }}</td>
                            <td>{{ diagnostico.edad }}</td>
                            <td>{{ diagnostico.genero }}</td>
                            <td>{{ diagnostico.resultadoMasPreciso }}</td>
                            <td><button class="btn btn-link" type="button" (click)="open(content, diagnostico.id)">Ver Detalle</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getDiagnosticosFromService(PageIndex - 1)">Anterior</a></li>
<!--                 <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getDiagnosticosFromService(PageIndex + 1)">Siguiente</a></li>
              </ul>
            </nav>
            <div class="row justify-content-center">
              <p>Página {{PageIndex}} de {{TotalPages}}</p>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalle diagnóstico</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <dl class="row">
                <dt class="col-sm-3">Nombres y Apellidos:</dt>
                <dd class="col-sm-9">{{DiagnosticoNombres}}</dd>

                <dt class="col-sm-3">Edad:</dt>
                <dd class="col-sm-9">{{DiagnosticoEdad}}</dd>

                <dt class="col-sm-3">Género:</dt>
                <dd class="col-sm-9">{{DiagnosticoGenero}}</dd>

                <dt class="col-sm-3">Síntomas:</dt>
                <dd class="col-sm-9">{{DiagnosticoSintomas}}</dd>

                <dt class="col-sm-3">Resultado Más Preciso:</dt>
                <dd class="col-sm-9">{{DiagnosticoResultado}}</dd>
            </dl>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>