<div class="container-fluid">
  <div class="card mb-2">
    <div class="card-body">
        <h3>DIAGNÓSTICO</h3>
    </div>
  </div>
  <div class="card mb-3">
    <form [formGroup]="diagnosticoForm">
      <div class="card-body">
        <div *ngIf="IsStep1" class="d-flex flex-column align-items-center mb-4">
          <div class="mb-3">
            <label>¿Cuál es su sexo?</label>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-outline-secondary btn-lg mx-2" [ngClass]="[bntStyleM]" (click)="onChangeSexo('M')">             
              <i class="fas fa-male"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg mx-2" [ngClass]="[bntStyleF]" (click)="onChangeSexo('F')">
              <i class="fas fa-female"></i>
            </button>
          </div>
          <div class="mb-3">
            <button type="button" (click)="step2()" class="btn btn-info">Siguiente</button>
          </div>
        </div>
        <div *ngIf="IsStep2" class="d-flex flex-column align-items-center mb-4">
          <label>¿Cuál es su edad?</label>
          <input type="number" class="form-control col-2" min="18" max="75" formControlName="Edad">
          <div class="row justify-content-center my-4">
            <button type="button" (click)="step1()" class="btn btn-info mx-3">Atrás</button>
            <button type="button" (click)="step3()" class="btn btn-info mx-3">Siguiente</button>
          </div>
        </div>
        <div *ngIf="IsStep3">
          <label class="row justify-content-center mb-4">Condiciones previas del paciente:</label>
          <div class="my-2">
            <div class="row justify-content-center my-2">
              <label>¿Tuvo o tiene sobrepeso?</label>
            </div>
            <div class="row justify-content-center my-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="si" formControlName="Sobrepeso">
                <label class="form-check-label">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="no" formControlName="Sobrepeso">
                <label class="form-check-label">No</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="nose" formControlName="Sobrepeso">
                <label class="form-check-label">No lo sé</label>
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row justify-content-center my-2">
              <label>¿Fumaba o fuma cigarrillos?</label>
            </div>
            <div class="row justify-content-center my-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="si" formControlName="Cigarrillos">
                <label class="form-check-label">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="no" formControlName="Cigarrillos">
                <label class="form-check-label">No</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="nose" formControlName="Cigarrillos">
                <label class="form-check-label">No lo sé</label>
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row justify-content-center my-2">
              <label>¿Tiene hipertensión?</label>
            </div>
            <div class="row justify-content-center my-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="si" formControlName="Hipertension">
                <label class="form-check-label">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="no" formControlName="Hipertension">
                <label class="form-check-label">No</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="nose" formControlName="Hipertension">
                <label class="form-check-label">No lo sé</label>
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row justify-content-center my-2">
              <label>¿Tiene diabetes?</label>
            </div>
            <div class="row justify-content-center my-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="si" formControlName="Diabetes">
                <label class="form-check-label">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="no" formControlName="Diabetes">
                <label class="form-check-label">No</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="nose" formControlName="Diabetes">
                <label class="form-check-label">No lo sé</label>
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row justify-content-center my-2">
              <label>¿Tuvo o tiene colesterol alto?</label>
            </div>
            <div class="row justify-content-center my-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="si" formControlName="Colesterol">
                <label class="form-check-label">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="no" formControlName="Colesterol">
                <label class="form-check-label">No</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="nose" formControlName="Colesterol">
                <label class="form-check-label">No lo sé</label>
              </div>
            </div>
          </div>
          <div class="row justify-content-center my-4">
            <button type="button" (click)="step2()" class="btn btn-info mx-3">Atrás</button>
            <button type="button" (click)="step4()" class="btn btn-info mx-3">Siguiente</button>
          </div>
        </div>
        <div *ngIf="IsStep4">
          <div class="row d-flex flex-column align-items-center mb-4">
            <label>¿Cuáles son sus síntomas?</label>
            <div class="ng-autocomplete col-6">
              <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">                                 
              </ng-autocomplete>
              
              <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.nombre"></a>
              </ng-template>
              
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>          
          </div>
          <div class="row d-flex flex-column align-items-center mb-4">
            <div formArrayName="sintomas">
              <!-- <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button> -->
              <div *ngFor="let sintoma of sintomas.controls; let i=index">
                <div class="row mb-2">
                  <span class="badge bg-primary"><input type="text" readonly [formControlName]="i"><button type="button" (click)="onClear(i)" class="close" aria-label="Dismiss"><span aria-hidden="true">&times;</span></button></span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="IsSugerencia" class="d-flex flex-column align-items-center mb-4">
            <p>{{Nivel}}</p>
            <p>{{Sugerencia}}</p>
          </div>
          <div class="row d-flex justify-content-center mb-4">
            <div class="row justify-content-center my-4">
                <button type="button" (click)="step3()" class="btn btn-info mx-3">Atrás</button>
                <button type="button" (click)="step5()" class="btn btn-info mx-3">Siguiente</button>
            </div>
          </div>
        </div>
        <div *ngIf="IsStep5" class="d-flex flex-column align-items-center mb-4">
          <label> Indique el nivel de sus siguientes sintomas: </label>
          <div *ngIf="IsDolor" class="row justify-content-center mb-4">
            <div class="col">
              <label>¿Cuál es la intensidad de su dolor abdominal?</label>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="1" formControlName="DolorNivel">
                <label class="form-check-label">Leve</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="2" formControlName="DolorNivel">
                <label class="form-check-label">Moderado</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="3" formControlName="DolorNivel">
                <label class="form-check-label">Intenso</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="0" formControlName="DolorNivel">
                <label class="form-check-label">No lo sé</label>
              </div>
            </div>
          </div>
          <div *ngIf="IsFiebre" class="row justify-content-center mb-4">
            <div class="col">
              <label>¿Cuál es su temperatura corporal actual?</label>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="1" formControlName="FiebreNivel">
                <label class="form-check-label">Entre 37°C y 38°C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="2" formControlName="FiebreNivel">
                <label class="form-check-label">Entre 38°C y 40°C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="3" formControlName="FiebreNivel">
                <label class="form-check-label">Superior a 40°C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="4" formControlName="FiebreNivel">
                <label class="form-check-label">No lo sé</label>
              </div>
            </div>
          </div>
          <div *ngIf="IsDiarrea" class="row justify-content-center mb-4">
            <div class="col">
              <label>¿Cuánto días lleva con diarrea?</label>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="1" formControlName="DiarreaNivel">
                <label class="form-check-label">Menos de 2 días</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="2" formControlName="DiarreaNivel">
                <label class="form-check-label">Entre 2 a 7 días</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="3" formControlName="DiarreaNivel">
                <label class="form-check-label">Entre 7 a 14 días</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="4" formControlName="DiarreaNivel">
                <label class="form-check-label">Más de 14 días</label>
              </div>
            </div>
          </div>
          <div *ngIf="IsVomitos" class="row justify-content-center mb-4">
            <div class="col">
              <label>¿Cuánto días lleva con vómitos?</label>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="1" formControlName="VomitosNivel">
                <label class="form-check-label">Menos de 2 días</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="2" formControlName="VomitosNivel">
                <label class="form-check-label">Entre 2 a 7 días</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="3" formControlName="VomitosNivel">
                <label class="form-check-label">Entre 7 a 14 días</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="4" formControlName="VomitosNivel">
                <label class="form-check-label">Más de 14 días</label>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mb-4">
            <div class="row justify-content-center my-4">
                <button type="button" (click)="step4()" class="btn btn-info mx-3">Atrás</button>
                <button type="button" (click)="step6()" class="btn btn-info mx-3">Diagnosticar</button>
            </div>
          </div>
        </div>
        <div *ngIf="IsStep6" class="d-flex flex-column align-items-center mb-4">
          <h6 class="my-4" *ngIf="IsResultado;else other_content">Resultados del diagnóstico</h6>
          <div *ngIf="IsResultado" >
            <div class="row justify-content-between">
              <div class="col-4">
                <h6>Sexo: </h6>
                <p>{{diagnosticoForm.value.Sexo}}</p>
              </div>
              <div class="col-4">
                <h6>Edad: </h6>
                <p>{{diagnosticoForm.value.Edad}}</p>
              </div>
           </div>       
            <hr>
            <h6 class="my-4">Mis Sintomas:</h6>
            <div *ngFor="let sin of sintomas.controls; let i=index">           
              <p>{{sin.value}}</p>
            </div>
            <hr>
            <h6 class="my-4">Resultados</h6>
            <div *ngFor="let res of Resultados; let i=index">
              <div>{{res.nombre}} : {{res.porcentaje}}</div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="res.porcentaje_numero + '%'" aria-valuemin="0" aria-valuemax="100"></div>
              </div>        
            </div>
          </div>
          <ng-template #other_content>
            <h6 class="my-4">Realizando diagnóstico, espere por favor.</h6>
          </ng-template>
          <div class="row justify-content-center my-4">
            <button type="button" (click)="reset()" class="btn btn-info mx-3">Realizar otro diagnóstico</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>