<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>DASHBOARD</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-md-4 mx-auto">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; min-height: 13rem;">
                        <div class="card-header">Pacientes</div>
                        <div class="card-body" style="background-image: url('./assets/paciente.png'); margin-top: 1rem; background-repeat: no-repeat; text-align: right;">
                          <h1 class="card-title">150</h1>
                          <p class="card-text">Pacientes registrados.</p>
                        </div>
                      </div>
                </div>
                <div class="col-xs-12 col-md-4 mx-auto">
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem; min-height: 13rem;">
                        <div class="card-header">Diagnósticos</div>
                        <div class="card-body"  style="background-image: url('./assets/diagnostico.png'); margin-top: 1rem; background-repeat: no-repeat; text-align: right;">
                          <h1 class="card-title">230</h1>
                          <p class="card-text">Disagnósticos satisfactorios.</p>
                        </div>
                      </div>
                </div>
                <div class="col-xs-12 col-md-4 mx-auto">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem; min-height: 13rem;">
                        <div class="card-header">Médicos</div>
                        <div class="card-body" style="background-image: url('./assets/doctor.png'); margin-top: 1rem; background-repeat: no-repeat; text-align: right;">
                          <h2 class="card-title">80</h2>
                          <p class="card-text">Médicos registrados.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>