<div class="card">
    <div class="card-header">
        <h3>Incidencias</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="incidenciaForm" class="row g-3">
<!--             <div class="col-auto">
                <input type="text" class="form-control" placeholder="Filtrar Título" formControlName="titulo">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary mb-3" (click)="getIncidencias(1)">Filtrar</button>
            </div> -->
            <div class="col-auto ms-auto">
              <button type="button" class="btn btn-primary mb-3" (click)="createIncidencia()">Nueva Incidencia</button>
            </div>
          </form>
        <div class="table-responsive">
            <table class="table table-hover">               
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Urgencia</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let incidencia of incidencias">
                            <td>{{ incidencia.id }}</td>
                            <td>{{ incidencia.titulo }}</td>
                            <td>{{ incidencia.urgencia }}</td>
                            <td>{{ incidencia.estado }}</td>
                            <td><a href="javascript:void(0);" (click)="updateIncidencia(incidencia.id)">Editar</a></td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getIncidencias(Pagination.pageIndex - 1)">Anterior</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getIncidencias(Pagination.pageIndex + 1)">Siguiente</a></li>
            </ul>
        </nav>
        Página 1 de 1
    </div>
</div>