<div class="modal-header">
    <h4 class="modal-title">Nueva Incidencia</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form [formGroup]="incidenciaForm">
        <div class="row mb-2">
            <div class="col-auto">
                <label class="form-label">Urgencia</label>
            </div>
            <div class="col-auto ms-auto">
                <input type="text" class="form-control" formControlName="urgencia">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <label class="form-label">Título</label>
            </div>
            <div class="col-auto ms-auto">
                <input type="text" class="form-control" formControlName="titulo">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <label class="form-label">Descripción</label>
            </div>
            <div class="col-auto ms-auto">
                <input type="text" class="form-control" formControlName="descripcion">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <label class="form-label">Adjunto URL</label>
            </div>
            <div class="col-auto ms-auto">
                <input type="text" class="form-control" formControlName="adjuntoUrl">
            </div>
        </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="row justify-content-end">
        <div class="col">
            <button type="button" class="btn btn-success" (click)="createIncidencia()">Guardar</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancelar</button>
        </div>
    </div>   
</div>