<div class="modal-header">
    <h4 class="modal-title">Nueva Incidencia</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="incidenciaForm">
    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label">Urgencia</label>
        </div>
        <div class="col-sm-6 ms-auto">
            <select class="form-select" formControlName="urgencia">
                <option value="">Seleccione</option>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label">Título</label>
        </div>
        <div class="col-sm-6 ms-auto">
            <input type="text" class="form-control" formControlName="titulo">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label">Descripción</label>
        </div>
        <div class="col-sm-6 ms-auto">
            <textarea class="form-control" formControlName="descripcion" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label">Adjuntar Archivo</label>
        </div>
        <div class="col-sm-6 ms-auto">
            <input type="file" class="form-control" formControlName="adjuntoUrl" (change)="onFileSelect($event)">
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="createIncidencia()">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancelar</button>
</div>