<div class="modal-header">
    <h4 class="modal-title">Nuevo Usuario</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="usuarioForm">
        <div class="row mb-3">
            <div class="col-sm-6">
                <label class="form-label">Nombre Completo</label>
            </div>
            <div class="col-sm-6 ms-auto">
                <input type="text" class="form-control" formControlName="nombreCompleto">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label class="form-label">Correo</label>
            </div>
            <div class="col-sm-6 ms-auto">
                <input type="text" class="form-control" formControlName="correo">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label class="form-label">Contraseña</label>
            </div>
            <div class="col-sm-6 ms-auto">
                <input type="text" class="form-control" formControlName="contrasena">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label class="form-label">Perfil</label>
            </div>
            <div class="col-sm-6 ms-auto">
                <select class="form-select" formControlName="perfil">
                    <option value=0>Seleccione</option>
                    <option value=1>Administrador</option>
                    <option value=2>Medico</option>
                </select>
            </div>
        </div>
    </form>   
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="createUsuario()">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancelar</button> 
</div>