<div class="card">
    <div class="card-header">
        <h3>Diagnósticos</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="diagnosticoForm" class="row g-3">
            <div class="col-auto">
                <label for="Nombres" class="visually-hidden">Nombres</label>
                <input type="text" class="form-control" placeholder="Filtrar Nombres" formControlName="nombres">
              </div>
            <div class="col-auto">
              <label for="Dni" class="visually-hidden">DNI</label>
              <input type="text" class="form-control" placeholder="Filtrar DNI" formControlName="dni">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary mb-3" (click)="getDiagnosticos(1)">Filtrar</button>
            </div>
            <div class="col-sm-auto ms-auto">
                <a role="button" class="btn btn-primary mb-3" routerLink="/diagnostico-create">Nuevo Diagnóstico</a>
            </div>
          </form>
        <div class="table-responsive">
            <table class="table table-hover">               
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Dni</th>
                        <th>Resultado Más Preciso</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let diagnostico of Diagnosticos">
                            <td>{{ diagnostico.id }}</td>
                            <td>{{ diagnostico.paciente.nombres }}</td>
                            <td>{{ diagnostico.paciente.dni }}</td>
                            <td>{{ diagnostico.resultadoMasPreciso }}</td>
                            <td><a href="javascript:void(0);" (click)="detailDiagnostico(diagnostico.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                </svg>
                            </a></td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getDiagnosticos(Pagination.pageIndex - 1)">Anterior</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getDiagnosticos(Pagination.pageIndex + 1)">Siguiente</a></li>
            </ul>
        </nav>
        Página {{Pagination.pageIndex}} de {{Pagination.totalPages}}
    </div>
</div>