<div class="card">
    <div class="card-header">
        <h3>Diagnósticos</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="diagnosticoForm" class="row g-3">
            <div class="col-auto">
                <label for="Nombres" class="visually-hidden">Nombres</label>
                <input type="text" class="form-control" placeholder="Filtrar Nombres" formControlName="nombres">
              </div>
            <div class="col-auto">
              <label for="Dni" class="visually-hidden">DNI</label>
              <input type="text" class="form-control" placeholder="Filtrar por DNI" formControlName="dni">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary mb-3" (click)="getDiagnosticos(1)">Filtrar</button>
            </div>
            <div class="col-auto ms-auto">
                <a role="button" class="btn btn-primary mb-3" routerLink="/diagnostico-create">Nuevo Diagnóstico</a>
            </div>
          </form>
        <div class="table-responsive">
            <table class="table table-hover">               
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Dni</th>
                        <th>Resultado Más Preciso</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let diagnostico of Diagnosticos">
                            <td>{{ diagnostico.id }}</td>
                            <td>{{ diagnostico.paciente.nombres }}</td>
                            <td>{{ diagnostico.paciente.dni }}</td>
                            <td>{{ diagnostico.resultadoMasPreciso }}</td>
                            <td><a href="javascript:void(0);" (click)="detailDiagnostico(diagnostico.id)">Detalle</a></td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getDiagnosticos(Pagination.pageIndex - 1)">Anterior</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getDiagnosticos(Pagination.pageIndex + 1)">Siguiente</a></li>
            </ul>
        </nav>
        Página {{Pagination.pageIndex}} de {{Pagination.totalPages}}
    </div>
</div>