<div class="card mb-3">
    <div class="card-body">
        <h3>Usuarios</h3>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="usuarioForm" class="row g-3">
            <div class="col-auto">
                <label for="Nombres" class="visually-hidden">Nombres</label>
                <input type="text" class="form-control" placeholder="Filtrar Nombre" formControlName="nombres">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary mb-3" (click)="getUsuarios(1)">Filtrar</button>
            </div>
            <div class="col-auto ms-auto">
              <button type="button" class="btn btn-primary mb-3" (click)="createUsuario()">Nuevo Usuario</button>
            </div>
          </form>
        <div class="table-responsive mb-2">
            <table class="table table-hover">               
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Perfil</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of Usuarios">
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.nombreCompleto }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td>{{ usuario.perfil }}</td>
                            <td><a href="javascript:void(0);" (click)="updateUsuario(usuario.id)">Editar</a></td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getUsuarios(Pagination.pageIndex - 1)">Anterior</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getUsuarios(Pagination.pageIndex + 1)">Siguiente</a></li>
            </ul>
        </nav>
        <p class="text-center">
            Página {{Pagination.pageIndex}} de {{Pagination.totalPages}}
        </p>
    </div>
</div>