.card {
  border-radius: 50%
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 280px;
  max-width: 280px;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
}

#sidebar.active a span {
  display: none;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      min-width: 80px;
      max-width: 80px;
      margin-left: -80px !important;
  }

  #sidebar a span {
      display: none;
  }
  
  #sidebar .rounded-circle {
      width: 24px;
      height: 24px;
  }
  
  #sidebar.active {
      margin-left: 0 !important;
  }

  #sidebar {
      margin-left: 0;
  }
}

